@import 'normalize'
@import 'colorPicker'

body
  background: #E7E9EB
  background-image: url('../img/cross_scratches.png')
  padding: 0 50px 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color: #666
a
  color: #00B7FF

#main
  background: white
  box-shadow: 0 0 10px #888
  box-sizing: border-box
  width: 800px
  margin: auto
  padding: 10px
  overflow: hidden

  .controls
    margin-top: 10px

  ol
    display: inline-block
    margin-right: 20px
    margin-left: 20px
    padding: 0

    li
      text-overflow: ellipsis
      white-space:nowrap
      overflow:hidden
      list-style-position:inside


.mainTitle
  color: #A51;
  font-family: Satisfy
  font-size: 80px
  letter-spacing: 1px
  margin: 0
  text-align: center
  text-shadow: 0 1px 2px #010202


  for letter in 0 1 2 3 4 5 6 7
    .char{letter+1}
      complementary = #00515D

      &:hover
        color: spin(complementary, letter * 120)

  span
    position: relative
    transition: all 0.2s ease-out

    &:hover
      top: 4px
      left: 4px
      cursor: pointer

button
  display: inline-block
  margin: 5px 5px 0 5px

#canvas
  border: 1px dashed #A3A3A3
  cursor: crosshair
  display: inline-block
  float: left
  height: 350px
  margin: 10px
  width: 320px
  user-select: none


footer
  text-align: center
  margin-top: 20px


@import 'mobile'
